{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venzo django starter pack</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div class="jumbotron text-center">
        <img src="{% static 'images/venzo.png' %}" alt="Your Logo" class="img-fluid mb-3" style="max-width: 300px;">

        <h1 class="display-4">Welcome to Venzo Django Starter Pack</h1>
        <p class="lead">Get started with ease using our Django starter pack.</p>
        <a class="btn btn-primary btn-lg" href="page1" role="button">Learn More</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <a href="{% url 'password_reset' %}" >ResetPassword</a>

</body>
</html>
